* {
  margin: 0;
  padding: 0;
}

/*making root to control the dark and light modes */
:root {
  --primary-color: #0c0a18;
  --logo-color: #ece2d5;
  --signIn-button-bg: blue;
  --linear-gradient: linear-gradient(90deg, rgb(224, 60, 115), blue);
  --user-text-container-bg: #2e16a3;
  --ai-text-container-bg: transparent;
  --user-text-color: #ece2d5;
  --ai-text-color: #ece2d5;
  --input-box-bg: #2b333b;
  --input-box-text-color: #ece2d5;
  --send-button-bg: #ece2d5;
}

/* the new light theme feature */
.light-theme {
  --primary-color: #EBF2F7;
  --logo-color: #494949;
  --signIn-button-bg: #0087fd;
  --linear-gradient: linear-gradient(90deg, #0087fd, #ff00d4);
  --user-text-container-bg: #0087fd;
  --ai-text-container-bg: #e1e5ec;
  --user-text-color: #ffffff;
  --ai-text-color: #000000;
  --input-box-bg: #ffffff;
  --input-box-text-color: #000000;
  --send-button-bg: #ffffff;
  
}

@font-face {
  font-family: nasa;
  src: url(font/nasalization-rg.otf);
}

@font-face {
  font-family: yatra-one;
  src: url(font/YatraOne-Regular.ttf);
}

@font-face {
  font-family: ai-text;
  src: url(font/KodeMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: teko;
  src: url(font/Teko-Light.ttf);
}

/* header part  */

header {
  height: 10vh;

  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.header-content {
  height: 8vh;
  margin-top: 1vh;
  margin-bottom: 1vh;

  margin-left: 1vw;
  margin-right: 1vw;

  padding-left: 3vw;
  padding-right: 1.5vw;

  border-radius: 7px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

#project-title {
  font-size: 5vh;
  color: var(--logo-color);
  font-family: nasa;
}

.header-content div {
  display: flex;
  /* align-items: center; */
  align-items: start;
  gap: 50px;
}

#icon {
  width: 30px;
  cursor: pointer;
}

.signIn-btn {
  text-decoration: none;
  color: white;
  font-size: 1.1vw;
  border-radius: 10px;
  font-family: ai-text;
  font-weight: bold;
  padding: 10px;
  background-color: var(--signIn-button-bg);
}

.user-icon {
  height: 6vh;
}

.header-nav-button {
  background-color: var(--primary-color);
  border-width: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

/* main body */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100vw;
  background-color: var(--primary-color);
}

#chat-box {
  height: 77%;
  margin-top: 1vh;
  margin-bottom: 1vh;

  width: 100%;
  padding-top: 5vh;

  border-radius: 7px;
  border: 0;
  color: #ece2d5;
  background-color: var(--primary-color);
  overflow-y: scroll;
  /* scrollbar-width: none; */
}

.welcome-text {
  background-image: var(--linear-gradient);
  background-clip: text;
  color: transparent;
  font-size: 10vh;
  font-weight: bold;
  font-family: nasa;
  padding-left: 10vw;
  margin: 20px;
}

/* Chat Container  */
.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-left: 10vw;
  margin-right: 10vw;
}

.text-container {
  display: inline;
  border: 0;
  border-radius: 7px;
  padding: 20px;
}

.user {
  display: inline;
  color: var(--user-text-color);
  background-color: var(--user-text-container-bg);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ai {
  display: inline;
  color: var(--ai-text-color);
  background-color: var(--ai-text-container-bg);
  font-family: ai-text;
}

#user-icon {
  display: inline;
  padding: 10px;
  height: 6vh;
}

#ai-icon {
  display: inline;
  padding: 10px;
  padding-left: 6vw;
  height: 6vh;
}

/* Input Box  */

.message-form {
  height: 8vh;
  margin-top: 1vh;

  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#message-input {
  width: 70%;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-right: 1vw;
  /* margin-left: -6vw; */
  height: 80%;
  padding-top: 1vh;
  padding-bottom: 1vh;

  border-width: 0;
  border-radius: 10px;
  background-color: var(--input-box-bg);
  color: var(--input-box-text-color);
  font-size: medium;
  outline: none;
}

#message-input::placeholder {
  font-family: ai-text;
  font-size: medium;
  color: var(--input-box-text-color);
}

#send-button {
  height: 100%;
  width: 5vw;

  border: 0;
  border-radius: 7px;
  background-color: var(--send-button-bg);
  font-family: ai-text;
  font-weight: bold;
}

#send-button:hover {
  background-color: #444;
  color: #ffffff;
}


/* Loading animation */
.loading-animation {
  display: flex;
  align-items: center;
  margin-left: 14.5vw;
  margin-top: 4.5vh;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ece2d5;
  margin-right: 5px;
  animation: bounce 0.5s infinite alternate;
}

.dot:nth-child(2) {
  animation-delay: 0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}



.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%; /* Adjust width as needed */
  background-color: #2b333b;
  padding-top: 20px;
  display: none;
  
}



.newChatSidebar-btn{
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #ece2d5; /* Button text color */
  background-color: transparent; /* Button background color */
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 2vh;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
  &:hover{
      background-color: #ece2d5;
      box-shadow: 0px 2px 5px rgba(38, 38, 73, 0.2);
      color: #080034;
  }
}

.aboutUs-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #ece2d5; /* Button text color */
  background-color: transparent; /* Button background color */
  border: none;
  margin-right: 2px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 2vh;
  border-radius: 5px;
  margin-top: 550px;
  transition: box-shadow 0.3s ease-in-out;
  &:hover{
      background-color: #ece2d5;
      box-shadow: 0px 2px 5px rgba(38, 38, 73, 0.2);
      color: #080034;
  }

}



.profileSidebar-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #ece2d5; /* Button text color */
  background-color: transparent; /* Button background color */
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 2vh;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
  &:hover{
      background-color: #ece2d5;
      box-shadow: 0px 2px 5px rgba(38, 38, 73, 0.2);
      color: #080034;
  }
}



.sidebar-btn:hover {
  background-color: #ece2d5; /* Button hover background color */
  color: #0c0a18; /* Button text color on hover */
}

.openMenu{
  cursor: pointer;
  color: #0c0a18;
  background-color: #0c0a18;
  color: #ffffff; 
  background-color: transparent; 
  border: none; 
  margin-left: -2%;
  font-size: 20px;
}

.light-theme .sidebar{
  background-color: #005eaf;
}

.light-theme .openMenu {
  color: #0087fd;
}

.menuButton {
  margin-left: 80%; 
  color: #ffffff; 
  background-color: transparent; 
  border: none; 
  cursor: pointer;
  font-size: 20px;
}