* {
  margin: 0;
  padding: 0;
}

/*making root to control the dark and light modes */
:root {
  --primary-color: #0c0a18;
  --logo-color: #ece2d5;
  --signIn-button-bg: linear-gradient(125deg, #0026ff, #5b00af);
  --linear-gradient: linear-gradient(125deg, #ff8d2f,#F12B6D, #0026ff);
  --user-text-container-bg: linear-gradient(125deg, #0026ff, #5b00af);
  --ai-text-container-bg: rgba(109, 108, 108, 0.15);
  --user-text-color: #ece2d5;
  --ai-text-color: #ece2d5;
  --input-box-bg: #2b333b;
  --input-box-text-color: #ece2d5;
  --send-button-bg: linear-gradient(125deg, #eb009c, #4901cf, #001069);
  --send-button-text-color: #f8f8f8;
  --loading-ani-color: #ece2d5;
}

/* the new light theme feature */
.light-theme {
  --primary-color: #f8f6f6;
  --logo-color: #494949;
  --signIn-button-bg: linear-gradient(125deg, #536dff, #6c03cf);
  --linear-gradient: linear-gradient(90deg, #ff0080, #415eff);
  --user-text-container-bg: linear-gradient(125deg, #0026ff, #667dfc);
  --ai-text-container-bg: rgba(184, 182, 182, 0.418);
  --user-text-color: #ffffff;
  --ai-text-color: #000000;
  --input-box-bg: #ffffff;
  --input-box-text-color: #000000;
  --send-button-bg: linear-gradient(125deg, #f12bbf, #0026ff);
  --send-button-text-color: #ffffff;
  --loading-ani-color: #ff00d4;
}

@font-face {
  font-family: nasa;
  src: url(../font/nasalization-rg.otf);
}

@font-face {
  font-family: ai-text;
  src: url(../font/KodeMono-VariableFont_wght.ttf);
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  display: inline-block;
}

/* header part  */
header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.header-content {
  height: 8vh;
  margin: 1vh 1vw 1vh 1vw;
  padding: 0 1.5vw 0 3vw;
  border-radius: 7px;
  background-color: var(--primary-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#project-title {
  font-size: 5vh;
  color: var(--logo-color);
  font-family: nasa;
  margin-left: 2vw;
}

.header-content div {
  display: flex;
  align-items: start;
  gap: 50px;
}

#icon {
  width: 30px;
  cursor: pointer;
}

.signUp-btn {
  text-decoration: none;
  border-radius: 10px;
  font: bold small "ai-text";
  color: white;
  padding: 10px;
  background-image: var(--signIn-button-bg);
}

.signUp-btn:hover {
  background-image: linear-gradient(125deg, #0026ff, #667dfc);
  color: #ffffff;
}

.user-icon {
  height: 6vh;
}

.header-nav-button {
  background-color: var(--primary-color);
  border: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

/* main body */
main {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
}

#chat-box {
  height: 77%;
  width: 100%;
  margin: 1vh 0 1vh 0;
  padding-top: 5vh;
  border-radius: 7px;
  border: none;
  color: #ece2d5;
  background-color: var(--primary-color);
  overflow-y: scroll;
}

.welcome-text {
  padding-left: 10vw;
  margin: 20px;
  background-image: var(--linear-gradient);
  background-clip: text;
  font: bold 5vw 'nasa';
  color: transparent;
}

/* Chat Container  */
.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: 10px 10vw 0 10vw;
}

.text-container {
  padding: 20px;
  display: inline;
  border: none;
  border-radius: 10px;
}

.user {
  display: inline;
  margin-top: 5px;
  color: var(--user-text-color);
  background-image: var(--user-text-container-bg);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ai {
  display: inline;
  margin-bottom: 5px;
  color: var(--ai-text-color);
  background-color: var(--ai-text-container-bg);
  font-family: ai-text;
  box-shadow: 0 0 2px 0;
}

.light-theme .ai {
  box-shadow: none;
}

#user-icon {
  display: inline;
  padding: 10px;
  height: 6vh;
}

#ai-icon {
  display: inline;
  padding: 10px;
  padding-left: 6vw;
  height: 6vh;
}

/* Input Box  */
.message-form {
  height: 8vh;
  width: 100%;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#message-input {
  height: 80%;
  width: 70%;
  padding: 1vh 1vw 1vh 1vw;
  margin-right: 1vw;
  font-size: medium;
  border: none;
  border-radius: 10px;
  background-color: var(--input-box-bg);
  color: var(--input-box-text-color);
  outline: none;
}

#message-input::placeholder {
  font: medium "ai-text";
  color: var(--input-box-text-color);
}

.light-theme #message-input {
  border: rgb(201, 201, 201) 1px solid;
}

#send-button {
  height: 100%;
  width: 5vw;

  border: none;
  border-radius: 10px;
  background-image: var(--send-button-bg);
  font: bold small 'ai-text';
  color: var(--send-button-text-color);
  cursor: pointer;
}

#send-button:hover {
  background-image: linear-gradient(125deg, #0026ff, #667dfc);
  color: #ffffff;
}


/* Loading animation */
.loading-animation {
  display: flex;
  align-items: center;
  margin: 4.5vh 0 0 14.5vw;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--loading-ani-color);
  margin-right: 5px;
  animation: bounce 0.5s infinite alternate;
}

.dot:nth-child(2) {
  animation-delay: 0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.sidebar {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 1px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(255, 255, 255, 0.32);

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  padding-top: 20px;
  display: none;
}

.newChatSidebar-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #ece2d5; /* Button text color */
  background-color: transparent; /* Button background color */
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: medium;
  font-family: nasa;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    background-image: linear-gradient(125deg,#1c3eff, #5e01b6);
    box-shadow: 0px 2px 5px rgba(38, 38, 73, 0.2);
    color: #ffffff;
  }
}

.aboutUs-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #ece2d5; /* Button text color */
  background-color: transparent; /* Button background color */
  border: none;
  margin-right: 2px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: medium;
  font-family: nasa;
  border-radius: 5px;
  margin-top: 550px;
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    background-image: linear-gradient(125deg,#1c3eff, #5e01b6);
    box-shadow: 0px 2px 5px rgba(38, 38, 73, 0.2);
    color: #ffffff;
  }
}

.profileSidebar-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #ece2d5; /* Button text color */
  background-color: transparent; /* Button background color */
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: medium;
  font-family: nasa;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    background-image: linear-gradient(125deg,#1c3eff, #5e01b6);
    box-shadow: 0px 2px 5px rgba(38, 38, 73, 0.2);
    color: #ffffff;
  }
}

.sidebar-btn:hover {
  background-color: #ece2d5; /* Button hover background color */
  color: #0c0a18; /* Button text color on hover */
}

.openMenu {
  cursor: pointer;
  color: #0c0a18;
  background-color: #0c0a18;
  color: #ffffff;
  background-color: transparent;
  border: none;
  margin-left: -2%;
  font-size: 20px;
}

.light-theme .newChatSidebar-btn{
  color: #000000;
  &:hover{
    color: #ffffff;
    background-image: linear-gradient(125deg,#899bff, #0026ff);
  }
}
.light-theme .aboutUs-btn{
  color: #000000;
  &:hover{
    color: #ffffff;
    background-image: linear-gradient(125deg,#899bff, #0026ff);
  }
}
.light-theme .profileSidebar-btn{
  color: #000000;
  &:hover{
    color: #ffffff;
    background-image: linear-gradient(125deg,#899bff, #0026ff);
  }
}

.light-theme .sidebar {
  /* color: ; */
  background: rgba(255, 255, 255, 0.11);
  border-radius: 1px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(255, 255, 255, 0.32);
}

.light-theme .openMenu {
  color: #0026ff;

}

.menuButton {
  margin-left: 80%;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.light-theme .menuButton {
  color: #000000;
}
