* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: nasa;
    src: url(../font/nasalization-rg.otf);
}

@font-face {
    font-family: ai-text;
    src: url(../font/KodeMono-VariableFont_wght.ttf);
}

ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}
  
li {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
}

/* header part  */
header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5vw;
    background-color: #0c0a18;
}

#go-back {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 0;
    border-radius: 6px;
    font-family: ai-text;
    font-weight: bold;
    background-color: rgba(109, 108, 108, 0.15);
    box-shadow: 0 0 2px 0; 
    backdrop-filter: blur(10px);
    color: #ece2d5;
}

/* main body */
main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0c0a18;
}

.info-box {
    height: 80vh;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    background-color: rgba(109, 108, 108, 0.15);
    box-shadow: 0 0 2px 0; 
    backdrop-filter: blur(10px);
    color: #ece2d5;
}

#info-title {
    font-family: nasa;
    font-size: x-large;
    font-weight: bold;
    padding: 3vw;
}

#info-text {
    font-family: ai-text;
    font-size: medium;
    padding: 3vw;
    padding-top: 0;
}

#next-btn {
    padding: 10px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 6px;
    font-family: ai-text;
    font-size: small;
    background-color: rgba(63, 62, 62, 0.15);
    box-shadow: 0 0 2px 0; 
    backdrop-filter: blur(10px);
    color: #ece2d5;
}
